




<div class="row">
  <div class="small-12 column">
    <%= link_to 'Clear All', delete_all_todos_path, method: :delete, data: { confirm: 'Are you sure you want to delete all items?' } %>
  </div>

  <% @todos.each do |todo| %>

    <div class="small-9 column">

      <p>
        <span class="<%= 'completed' if todo.complete? %>"><%= link_to todo.title, completed_todo_path(todo), method: :put, class: 'todo-title' %></span>
        <% unless todo.complete? %>

        <% end %>
      </p>
    </div>

    <div class="small-3 column">
      <ul class="nav pull-right">
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_todo_path(todo) %>
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, todo_path(todo), method: :delete %>
      </ul>
    </div>

  <% end %>
</div>



