
<h1>To Do List</h1>
<% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <% redirect_to new_user_session %>
<% end %>
<%= link_to 'Add New', new_todo_path %>
<% @todos.each do |todo| %>
  <p>
    <span class="<%= 'completed' if todo.complete? %>"><%= todo.title %></span>

    <% unless todo.complete? %>
      <%= link_to 'Mark as Complete', completed_todo_path(todo), method: :put %>
    <% end %>

    <%= link_to 'Edit', edit_todo_path(todo) %>
    <%= link_to 'Delete', todo_path(todo), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
  </p>
<% end %>
<%= link_to 'Clear All', delete_all_todos_path, method: :delete, data: { confirm: 'Are you sure you want to delete all items?' } %>


