<!DOCTYPE html>
<html>
<head>
  <title>My Todos</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">

        <% if user_signed_in? %>
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
        <% end %>

        <section class="middle tab-bar-section">
          <h1 class="title">My ToDos</h1>
        </section>

        <% if user_signed_in? %>
        <section class="right-small">
         <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_todo_path, class: 'plus' %>
        </section>
        <% end %>
      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label><%= current_user %></label></li>
          <li> <%= link_to 'Change Password', edit_user_password_path %></li>
          <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </aside>

      <section class="main-section">
        <!-- content goes here -->

        <!-- <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> -->

        <%= yield %>
      </section>

    <a class="exit-off-canvas"></a>

    </div>
  </div>

</body>
</html>
